/*------------------------------------------------------google fonts import */
@import url('https://fonts.googleapis.com/css?family=Oswald:100,200,300,400,500,600,700|Anton:100,200,300,400,500,600,700');

/*------------------------------------------------------Colours */
body {
    font-size: 10px;
    background-color: #a1a1a1;

    
}

/*---- Generic ----*/

h1, h2, h3, h4, h5, h6 {
    color: #16181a;
    font-family: "Anton", sans-serif;
    text-transform: uppercase;
    padding-top: 1rem;
}

#logo {
    height: 120px;
    max-width: 120px;
    border-radius: 50%;
}
.navigation-container {
    overflow: hidden;
}

.navbar .nav-item a {
    font-size: 1.5rem;
    font-family: "Anton";
}
.navbar .nav-item a:hover {
    color: #115611;
}

.navbar .navbar-toggler {
    border: 0;
}
/*------------------------------------------------------Heading */
header{
    margin: 0;
    background-color: #343a40;
}
/*------------------------------------------------------Content */
.shop-front{
    padding-top: 30px;
    padding-bottom: 40px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 70%;
}

/*------------------------------------------------------Footer */
.footer{
    background-color: #343a40;
}
footer h5{
    font-family: "Anton";
    color: #16181a;
}
.contact{
    font-family: "Oswald";
    font-weight: 600;
    font-size: 1rem;
    color: #16181a;
}

.contact a {
    color: #a1a1a1;
    padding: 10px;
}
.contact a:hover {
    color: #115611;
}

.social-links li i {
    font-size: 3.5rem;
    color: #a1a1a1;
    padding: 10px;
}

.social-links li i:hover {
    color: #115611;
}